<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/flights/new.css">
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <form id="new-form" action="/flights" method="POST">
    <label for="airline-input">Airline:</label>
    <input required type="text" name="title" id="title-input">

    <label for="airport-input">Release Year:</label>
    <input type="text" name="releaseYear" id="release-year-input">

    <label for="mpaa-rating-select">MPAA Rating:</label>
    <select name="mpaaRating" id="mpaa-rating-select">
      <option value="G">G</option>
      <option value="PG">PG</option>
      <option value="PG-13">PG-13</option>
      <option value="R">R</option>
    </select>

    <label for="now-showing-checkbox">Now Showing:</label>
    <input type="checkbox" name="nowShowing" id="now-showing-checkbox" checked>
    <button type="submit">Add Flight</button>
  </form>
</main>

<%- include('../partials/footer') %> 